body {
  margin: 0;
  font-family: 'Impact', 'Arial Black', 'Franklin Gothic Heavy', 'Arial Bold', 'Helvetica Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

